fastapi
uvicorn==0.29.0
sqlalchemy
pydantic
python-dotenv
requests
httpx

websockets==12.0
google-generativeai
groq

requests
beautifulsoup4
sentence-transformers
numpy
cryptography
livekit-api
python-jose[cryptography]
passlib[bcrypt]
python-multipart
numexpr
pytest
google-api-python-client
google-auth-oauthlib
